<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rychusoft.NumericalLibraries.Bessel" version="1.0.6217.35254" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.Calculator" version="1.0.6217.35254" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.Chart" version="1.0.6217.36660" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.Derivative" version="1.0.6217.35254" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.Differential" version="1.0.6217.35254" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.FourierTransform" version="1.0.6217.35254" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.Hybrid" version="1.0.6217.35254" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.Integral" version="1.0.6217.35254" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.Interpolation" version="1.0.6217.35254" targetFramework="net40" />
  <package id="Rychusoft.NumericalLibraries.LinearEquation" version="1.0.6217.35254" targetFramework="net40" />
</packages>